{% load widget_tweaks %}
{% load Filtrospersonalizado %}
<form method="post" enctype="multipart/form-data" action="">
  {% csrf_token %}

  <div class="modal-header">
    <h3 class="modal-title">Create Book</h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
    </button>
  </div>

  <div class="modal-body row g-2">

    <div class="{% if form.non_field_errors %}invalid{% endif %} mb-2">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>

    {% for field in form %}
      {% if not forloop.last%}
      {% get_colum forloop.counter0 6 12 2 as dato%}
        <div class="col-md-{{ dato }}">
          <div class="form-floating">
            {% render_field field class="form-control" placeholder=field.label %}
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          </div>
          <div class="{% if field.errors %} invalid{% endif %}">
            {% for error in field.errors %}
              <p class="help-block">{{ error }}</p>
            {% endfor %}
          </div>
        </div>
      {% else %}
      <div class="input-group mb-3">
        <label class="input-group-text" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
      </div>
      <div class="{% if field.errors %} invalid{% endif %}">
        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>

</form>