{% extends "app/layout.html" %}
{% load static %}
{% load Filtrospersonalizado %}
{% block content %}


<div class="container">
  <div class="row g-5">
    <div class="col-md-3 col-lg-3 ">
      <div class="container mt-4 mb-4 p-3 d-flex justify-content-center"> 
        
        <div class="cardperfil p-4 shadow border-0"> 

          <div class=" image d-flex flex-column justify-content-center align-items-center"> 

            <button type="button" class="btnperfil btn-primary modal-example" data-url="{% url 'UploadImageUser' %}"> 
              <img src="{{user.imagen.url}}" height="100" width="100" />
            </button> 

            <span class="name mt-3 text-center">{{ user.first_name }} {{ user.last_name }}</span> 
            
            <div class=" d-flex mt-2"> 
              <button class="btn1 btn-primary update-User" data-form-url="{% url 'Edit_User'%}">Edit Profile</button> 
            </div> 
            
            
            <div class=" px-2 rounded mt-4 date "> 
              <span class="join">{{ user.date_joined|date:'M d, Y' }}</span> 
            </div> 
          </div> 

        </div>
      
      </div>
    </div>
    <div class="col-md-7 col-lg-8 order-md-last">
      <section class="py-5">
        <div class="container px-2 my-2">
            <div class="text-center mb-2">
                <h1 class="fw-bolder">Lista de Servicios</h1>
                <p class="lead fw-normal text-muted mb-0">Registre sus Servicios</p>
            </div>
            <div class="mb-2">

              <button id="create-Habiiti" class="btn btn-primary" type="button" name="button">Registar</button>
            </div>
            
            <div class="row gx-2 row-cols-1 row-cols-sm-2 row-cols-xl-3">
              {% for Ha in habilidades %}
                <div class="cardhabili shadow border-0">
                  <ul class="ul">
                    <li>
                      <button class="modal-example" data-url="{% url 'Habili_edit' Ha.id %}"><i class="fa-solid fa-pen"></i></button>
                    </li>
                    <li>
                      <a type="button" href="{% url 'Habili_delete' Ha.id  %}" ><i class="fa-solid fa-trash-can"></i></a> 
                    </li>
                  </ul>
                  <div class="carousel slide card-img-top" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      {% for foto in Ha.id|existing_Fototrabajo %}
                      {% get_active forloop.counter0 as dato%}
                      <div class="carousel-item {{ dato }}">
                        <img src="{{foto.fotoTrabajo.url}}" class="d-block w-100" alt="...">
                      </div>
                      {% empty %}
                      <div class="carousel-item active">
                        <img src="https://dummyimage.com/600x350/ced4da/6c757d&text=Loading.." class="d-block w-100" alt="...">
                      </div>
                      {% endfor %}
                    </div>
                  </div>
                  <div class="con-text">
                    <h2>{{Ha.nombrehabilidad}}</h2>
                    <p>
                      {{Ha.descripcion}}
                    </p>
                  </div>
                  
                </div>
              {% empty %}
              <div class="fa-2x">
                <span  style="display: inline-block;">
                  <i class="fa-solid fa-arrow-turn-up fa-flip-horizontal"></i> Comienza publicando tus servicios aqui
                </span>
                
              </div>
              {% endfor %}
              
            </div>
            
            
        </div>
      </section>

      <!-- Modal -->
      {% include 'app/ModalTemplate.html' %}
    </div>
    <!-- Modal 1 with id="create-book"-->
    <div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
      </div>
      </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content"></div>
        </div>
    </div>
  </div>
  
  {% include 'app/Mensaje.html' %}
  
</div>

{% endblock %}
{% block extrascripts %}
<script type="text/javascript">
  $(function () {
    //<button type="button" class="btn btn-primary modal-example" data-url="{% url 'CreateHabili' %}" >Registar</button>
    //<button type="button" class="btn btn-primary modal-example" data-url="{% url 'Edit_User' %}">Editar</button>
    // Read book buttons

    $(".update-User").each(function () {
        $(this).modalForm({
          formURL: $(this).data("form-url"),
          
        });
    });

    // Create book button opens form in modal with id="create-modal"
    $("#create-Habiiti").modalForm({
        formURL: "{% url 'CreateHabili' %}",
        modalID: "#create-modal"
    });

  });
</script>
{% endblock extrascripts %}