{% extends "app/layout.html" %}
{% load static %}
{% load Filtrospersonalizado %}
{% block content %}
<section class="py-5">
    <div class="container px-3">
        <div class="card mb-3 shadow border-0">
            <div class="row g-0">
                <div class="col-md-6 p-2">
                    <div id="carouselExampleSlidesOnly" class="carousel slide rounded-3 my-3"  data-bs-ride="carousel">
                        <div class="carousel-inner">
                        {% for foto in habilidades.id|existing_Fototrabajo %}
                            {% get_active forloop.counter0 as dato%}
                            <div class="carousel-item {{ dato }}">
                                <img src="{{foto.fotoTrabajo.url}}" class="d-block w-100 rounded-3 my-3"  height="600px" style="object-fit: scale-down" alt="...">
                            </div>
                        {% empty %}
                            <div class="carousel-item active">
                                <img src="https://dummyimage.com/600x350/ced4da/6c757d&text=Sin+Imagen" class="d-block w-100 rounded-3 my-3" height="600px" style="object-fit: scale-down" alt="...">
                            </div>
                        {% endfor %}
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="card-header h3 bg-transparent border-0 text-capitalize">{{habilidades.nombrehabilidad}}</div>
                    <div class="card-body">
                    <div class="card-title">
                        <div class="d-flex align-items-center">
                            <div class="small">
                                {% starHabilidad habilidades.id as starva%}
                                {% if starva != None %}
                                <div class="text-muted"><i class="fa-solid fa-star StarValoration" ></i> {{starva}}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <p class="card-text" style="min-height: 31vh">{{habilidades.descripcion}}.</p>
                    </div>

                    <div class="d-grid d-sm-flex justify-content-sm-center justify-content-xl-center py-3 card-footer border-0">
                        <form action="{% url 'SoliPedidos' %}" method="post">{% csrf_token %}
                            <input type="hidden" name="id" value="{{habilidades.id}}" readonly>
                            <button type="submit" class="btn btn-primary btn-lg px-4 me-sm-3" >Adquirir Servicios</button>
                        </form>
                        <form action="{% url 'Favorite' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="txtCodigo" value="{{habilidades.id}}" readonly>
                            <button class="btn btn-danger btn-lg" type="submit"><i class="fa-regular fa-heart"></i><span class="badge" id="favoritenum">{{favorito}}</span></button>
                        </form>
                    </div>

                </div>
            </div>
        </div>    
        <section>
            
        </section>
        {% include 'app/Mensaje.html' %}
    </div>
</section>
<!-- Comments section-->
<section class="py-5 bg-light">
    <div class="container px-3">
        <div class="row gx-5">
            <div class="col-xl-9">
                <div class="card bg-light">
                    <div class="card-body">
                        {% for Com in clasifiacion %}
                            <!-- Single comment-->
                            <div class="d-flex">
                                <div class="flex-shrink-0"><img class="rounded-circle imgCard contain" src="{{Com.user.imagen.url}}" alt="..." /></div>
                                <div class="ms-3">
                                    {% staruser Com.user.id as starva%}
                                    {% if Com.user.first_name|length == 0 or  Com.last_name|length == 0 %}
                                        <div class="fw-bold">{{ Com.user.username }} </div>
                                        {% else %}
                                        <div class="fw-bold">{{ Com.user.first_name }} {{ Com.user.last_name }}</div>
                                    {% endif %}
                                    {% if starva != None %}
                                    <div class="text-muted"><i class="fa-solid fa-star StarValoration" ></i> {{starva}}</div>
                                    {% endif %}
                                    {{Com.comentario}}
                                    {% existing_FotoValoracion_exist Com.id as Fotos%}
                                    {% if Fotos %}
                                    <div class="tamañofotovalo ">
                                        <div class="d-flex mt-4 flex-wrap bd-highlight Scroll">
                                            {% for foto in Com.id|existing_FotoValoracion %}
                                            <div class="p-2 bd-highlight">
                                                <img class="imgvaloracion contain" src="{{foto.fotoValoracion.url}}" alt="..." />
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>

                            </div>
                            {% empty %}
                            <div class="fa-2x">
                                <span  style="display: inline-block;">
                                <i class="fa-solid fa-xmark"></i> Sin comentarios aun...
                                </span>

                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-xl-3">
                <div class="card border-0">
                    <div class="card-body p-4">
                        <div class="d-flex align-items-center justify-content-center">
                            <div class="text-center">

                                <div class="h6 fw-bolder">Datos personales</div>
                                <img class="imgPerfil cover rounded-circle mb-4 px-4" src="{{habilidades.user.imagen.url}}" alt="..." />

                                <div class="h6 fw-bolder">{{ habilidades.user.first_name }} {{ habilidades.user.last_name }}</div>
                                {% staruser habilidades.user.id as starva%}
                                {% if starva != None %}
                                <div class="text-muted"><i class="fa-solid fa-star StarValoration" ></i> {{starva}}</div>
                                {% endif %}
                                <p class="text-muted mb-4"><a href="#!">{{ habilidades.user.email }}</a></p>

                                <div class="h6 fw-bolder">Redes Sociales</div>
                                <a class="fs-5 px-2 link-dark" href="#!"><i class="fa-brands fa-twitter"></i></a>
                                <a class="fs-5 px-2 link-dark" href="#!"><i class="fa-brands fa-facebook"></i></a>
                                <a class="fs-5 px-2 link-dark" href="#!"><i class="fa-brands fa-whatsapp"></i></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

