{% extends "app/layout.html" %}
{% load static %}
{% block content %}
{% load widget_tweaks %}
<section class="py-5">
	<div class="container px-5">
		<div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
			<div class="text-center mb-5">
				<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="far fa-user"></i></div>
				<h1 class="fw-bolder">Register</h1>
				<p class="lead fw-normal text-muted mb-0">Comienza un nuevo trabajo </p>
			</div>
			<div class="row gx-5 justify-content-center">
				<div class="col-lg-8 col-xl-6">

					<form class="form" method="post">
						{% csrf_token %}

						{% for field in form_user %}

							<div class="form-floating mb-3">
								{% if field.errors %}
								{{ field|add_class:"is-invalid" }}
								{% else %}
								{{ field }}
								{% endif %}

								<label for="floatingInput">{{ field.label_tag }}</label>
							</div>

							<p>
								{% if field.help_text %}
									<small style="color: grey">{{ field.help_text }}</small>
								{% endif %}
								{% for error in field.errors %}
									<p style="color: red">{{ error }}</p>
								{% endfor %}
							</p>
						{% endfor %}



						<button class="btn btn-primary btn-lg action-button px-4 me-sm-3"  type="submit" id="submit">Registar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}