{% extends "app/layout.html" %}
{% load static %}
{% block content %}
<section class="py-5">
	<div class="container px-5">
		<div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
			<div class="text-center mb-5">
				<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="far fa-user"></i></div>
				<h1 class="fw-bolder">Register</h1>
				<p class="lead fw-normal text-muted mb-0">Comienza un nuevo trabajo </p>
			</div>
			<div class="row gx-5 justify-content-center">
				<div class="col-lg-8 col-xl-6">
					{% if form_user.errors %}
					<p>Los datos son incorrectos. Please try again.</p>
					{% endif %}
					{% if next %}
						{% if user.is_authenticated %}
						<p>Your account doesn't have access to this page. To proceed,
						please login with an account that has access.</p>
						{% else %}
						<p>Please login to see this page.</p>
						{% endif %}
					{% endif %}
					<form class="form" method="post">
						{% csrf_token %}
						<div class="form-floating mb-3">
							{{ form_user.username }}
							<label for="floatingInput">Usuario</label>
						</div>
						<div class="form-floating mb-3">
							{{ form_user.email }}
							<label for="floatingPassword">Email</label>
						</div>
						<div class="form-floating mb-3">
							{{ form_user.password1 }}
							<label for="floatingInput">Password</label>
						</div>
                        <div class="form-floating mb-3">
							{{ form_user.password2 }}
							<label for="floatingInput">Confirma Password</label>
						</div>
						<button class="btn btn-primary btn-lg action-button px-4 me-sm-3"  type="submit" id="submit">Registar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}