{% extends "app/layout.html" %}
{% load static %}
{% block content %}
<section class="py-5">
	<div class="container px-5">
		<div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
			<div class="text-center mb-5">
				<div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="fa-solid fa-star"></i></div>
				<h1 class="fw-bolder">valoracion de trabajo</h1>
			</div>
			<div class="row gx-5 justify-content-center">
				<div class="col-lg-8 col-xl-6">
                    <form class="form-floating row g-3" enctype="multipart/form-data" method="post" action="{% url 'Valorizacion_Pedido' pedido %}">{% csrf_token %}

                        <div class="d-flex flex-row  align-items-center bd-highlight mb-3">
                            <span class="p-2 bd-highlight align-text-top">Puntuacion de trabajo: </span>
                            <div class="p-2 bd-highlight rateyo" data-rateyo-rating="0" data-rateyo-num-stars="5" ></div>
                            <span class="p-2 bd-highlight result align-text-top">0</span>
                            {{formClasificacion.puntuacion}}
                        </div>
                        
                        <div class="form-floating">
                            {{formClasificacion.comentario}}
                            <label for="floatingTextarea">Comments</label>
                        </div>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupFile01">Upload</label>
                            {{formClasificacion.fotoValoracion}}
                        </div>
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </form>
                </div>
			</div>
		</div>
	</div>
</section>

{% include 'app/Puntuacion.html' %}
{% include 'app/Mensaje.html' %}
{% endblock %}